@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100dvh;
  background: #fafafa;
  margin: 0 auto;
  overscroll-behavior: none;
  position: fixed;
  touch-action: pinch-zoom;
}

#root {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 540px;
  background: #171717;
  color: #f6f6f6;
}
